One of the Supervised Learning Algorithms : Support Vector Machine.

Importing the dependencies

In [ ]:
import numpy as np
import pandas as pd 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data collection and Analysis

In [ ]:
# Loading the dataset to a pandas data frame
diabetes_dataset = pd.read_csv('/content/diabetes.csv')

In [ ]:
diabetes_dataset

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [ ]:
# Short tip : Whenever we want to get the information about the particular function, we can use the function and add question mark
#             as mentioned below
pd.read_csv?

In [ ]:
# Printing the first 5 columns of the dataset
diabetes_dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
# number of rows and columns in the dataset
diabetes_dataset.shape
# This data is taken from 768 people and has 9 features.

(768, 9)

In [ ]:
# getting the statistical measures of the data
diabetes_dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
# to look upon the outcome how many of them are diabetic 
diabetes_dataset['Outcome'].value_counts()
# We can see here out of 768 people 500 are Non Diabetic and 268 are Diabetic
# 0--> Non Diabetic People  1--> Diabetic People.

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
diabetes_dataset.groupby('Outcome').mean()
# Here we can see the outcome as Diabetic patients have more Glucose and Insulin Levels.

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [ ]:
# Seperating the data and labels
X = diabetes_dataset.drop(columns = 'Outcome', axis = 1)
# When you want to set an entire column set Axis = 1 and for row set axis = 0
Y = diabetes_dataset['Outcome']
# Store their values into Y

In [ ]:
print(X)
#Spereated the column of 'Outcome' from dataset

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [ ]:
print(Y)
# Outcome Values

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization : We have to standardize the data in a particular  range for appropriate prediction. So less the data variation, merrier the data prediction.We need to use the Standard Scalar.

In [22]:
# this means we are using one instance of the standard scalar function.
scaler = StandardScaler()

In [23]:
scaler.fit(X)

StandardScaler()

In [24]:
standardized_data = scaler.transform(X)

In [25]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [28]:
X = standardized_data
Y = diabetes_dataset['Outcome']

In [29]:
X

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

Train Test Split

In [31]:
 X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify = Y, random_state=2)
 # test size is used for setting the proportion of testing data.  
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

Training the Model

In [32]:
classifier = svm.SVC(kernel = 'linear')
# Support vector Classes

In [33]:
#training the support vector machine classifier
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

Evaluation of model , to check how many times our machine is predicting accurately. First we need to find the accuracy score.

Accuray Score :

In [35]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy score of the training data: ',training_data_accuracy)
# score above 75 is pretty good

Accuracy score of the training data:  0.7866449511400652

In [36]:
X_test_prediction = classifier.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy score of the testing data: ',testing_data_accuracy)

Accuracy score of the testing data:  0.7727272727272727

In [44]:
import warnings
warnings.filterwarnings('ignore')
input_data = (5,166,72,19,175,25.8,0.587,51)
# changing the input data to numpy array
input_data_as_numpy_array = np.asarray(input_data)
# asarray converts list into array
# Reshape teh array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
# By this statement we are giving only one instance instead of giving total of 768 inputs
# Also we cannot give raw data of dataset, we need to give standardize data as our machine has worked upon the standardized dataset.

# Standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)
prediction  = classifier.predict(std_data) 
print(prediction)

if (prediction[0]== '0'):
  print("The Patient is Non-Diabetic")
else:
  print("The Patient is Diabetic")

[[ 0.3429808   1.41167241  0.14964075 -0.09637905  0.82661621 -0.78595734
   0.34768723  1.51108316]]
[1]
The Patient is Diabetic